  
  <div id="educacion" >
    <div class="card-titles">
      <h2>Educacion y Experiencia</h2>
    </div>     
<div>
<ul class="items-list">
<li>
  <div class="data-container">
     <!--
     <div class="logo-image-container">
      <img 
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTavwdVjRnRm_aCpGMs8Or7ynf6b6onR1hF7Q&usqp=CAU" 
      class="logo-image" />
     </div>     -->
     <div class="list-info" *ngFor="let Eduyexp of eduyexp ">
      <div>
        
        <p>{{Eduyexp.nombreE}} </p>
        <p>{{Eduyexp.descripcionE}}</p>      

        <td *ngIf="isLogged">
          <button class="btn btn-light" routerLink="/editarinfo/{{Eduyexp.id}}">
              <i class="bi bi-pencil-fill"></i> EDITAR</button>
      </td>
      <td *ngIf="isLogged">
          <button class="btn btn-danger" (click)="delete(Eduyexp.id)">
              <i class="bi bi-trash-fill"></i> BORRAR</button>
      </td>    
      </div>
     </div>
          
  </div>
  <div class="col-lg-2">
    <button type="button" class="btn btn-dark" routerLink="/agregarinfo" *ngIf="isLogged">
        Agregar informacion
    </button>
</div>
</li>
</ul>
</div>
</div>
  
