
<div class="container"> 
   <div class="imagen1">
    <img src="https://lh3.googleusercontent.com/pw/AJFCJaVXsrnCmEgE1k_WJATahMKKiU4Qg85_ove8YLVTAUzruIJWE5ZK0BU3T5zzVpZZJeLORKD_n1ZdGk6s9Xs-Y56RIt067lECLNSp65AAljMgmFBXzsD5zoFCqBcx8lVqUcPp9XK3Hf86DD25MpPonlO2=w260-h622-s-no?authuser=1"
    >
   </div>
   <div class="description">
    <h2>Sobre Mi </h2> 
    <hr>
    <p>Soy una persona autodidacta , responsable y comprometido con mi trabajo.
      Constantemente estoy aprendiendo nuevas herramientas y tecnogias para mejorar mis habilidades.
      Mas abajo ,puede ver que habilidades tengo y que tecnologias utilizo</p>                                              
   </div>
  </div>
 
<!--  "https://i.pinimg.com/originals/45/c0/b6/45c0b66b7e0c3a10e63bdde7aba77f25.jpg" , 
https://www.instagram.com/p/BrI90xfBtMw/?utm_source=ig_web_copy_link&igshid=MmJiY2I4NDBkZg== ,
https://lh3.google.com/u/0/d/1U8v_pZ_7j5t9BG715tsVlIIYDVANC4e4=w200-h150-p-k-nu
-->

