
<div class="container"> 
   <div class="imagen1">
    <img src="https://i.pinimg.com/originals/45/c0/b6/45c0b66b7e0c3a10e63bdde7aba77f25.jpg" 
    alt="Imagen de ejemplo">
   </div>
   <div class="description">
    <h2>Sobre Mi</h2> 
    <div class="btn-edit float-end">
      <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
      </div>
    <hr>
    <p>Soy una persona autodidacta , responsable y comprometido con mi trabajo.
    Constantemente estoy aprendiendo nuevas herramientas y tecnogias para mejorar mis habilidades.
    Mas abajo ,puede ver que  habilidades tengo y que tecnologias utilizo</p>  
    <div class="btn-edit float-end">
      <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
      </div>
   </div>
  </div>
  
<!--  <form>
      <div class="form-group">
        <label for="title">Título:</label>
        <input type="text" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label for="image">Imagen:</label>
        <input type="file" class="form-control" id="image">
      </div>
      <div class="form-group">
        <label for="items">Elementos:</label>
        <textarea class="form-control" id="items"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#edit-menu">+</button>
  <div id="edit-menu" class="collapse">
    <!-- Agrega aquí tus opciones de edición ->
    <a href="#">Modificar</a>
    <a href="#">Eliminar</a>
    <a href="#">Agregar</a>  -->
 <!--  <script>
  document.getElementById("editButton").onclick = function() {
    document.getElementById("editButtons").style.display = "block";
  }
  document.getElementById("addButton").onclick = function() {
    // Agregar título y contenido
  }
  document.getElementById("modifyButton").onclick = function() {
    // Modificar título y contenido
  }
  document.getElementById("deleteButton").onclick = function() {
    // Borrar título y contenido
  }
</script>   -->
 



